<h1>All rooms</h1>
<table class="table table-responsive table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Type</th>
    <th>Price</th>
    <th>Available</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let room of roomsList" (click)="findRoomById(room.roomId)">
    <td>{{room.roomId}}</td>
    <td>{{room.type}}</td>
    <td>{{room.price}}</td>
    <td>{{room.available}}</td>
    <td><button md-button (click)="deleteRoomById(room.roomId)">delete</button></td>
    <td><button md-button (click)="updateRoomGet(room.roomId)">update</button></td>
  </tr>
  </tbody>

</table>
